.team {
    background-color: #F5F4FA;
}

.team__list {
    display: flex;
    gap: 30px;
}

.team__card {
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.person-heading {
    margin-top: 30px;
    color: var(--header-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.person-position {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.social-network {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    padding-bottom: 30px;

}

.social-network__link {
    display: block;
    width: 44px;
    height: 44px;
    padding: 12px;
    color: var(--icon-color);
    border-radius: 50%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $primary-white-color;
        background-color: $accent-color;
    }
}

.social-network__item:not(:last-child) {
    margin-right: 10px;
}

.social-network__icon {
    .social-network__link & {
        fill: currentColor;
    }
}