body {
    background-color: $primary-white-color;
    color: $main-color;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-flex {
    display: flex;
    align-items: center;
}

.examples__heading,
.team__heading,
.clients__heading {
    margin-bottom: 50px;
    color: $title-color;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}